:root {
	--search-menu--br: 10px;
}

.search-modal {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 90%;
	width: 100%;

	display: flex;
	flex-direction: column;

	border: 2px solid orange;
	background-color: #fff;

	button {
		background-color: inherit;
		border: none;
		outline: none;
		cursor: pointer;
	}

	&__head {
		padding: 1em;

		display: flex;
		align-items: center;
		justify-content: space-between;

		h3 {
			font-family: var(--ff-secondary);
			font-weight: 700;
			color: #333;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}

	&__content {
		flex-grow: 1;
		width: 100%;


		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		box-shadow: var(--cc-box-shadow--light);

		&__entries {
			margin: .5em auto;
			width: 90%;
			display: flex;
			flex-direction: column;

			box-shadow: var(--cc-box-shadow--light);
			border-radius: var(--search-menu--br);

			&__container-location,
			&__container-guests {
				padding: .3em 1em;

				color: #BDBDBD;
				border: 1px solid #f2f2f2;

				display: flex;
				flex-direction: column;

				&:focus-within {
					color: #333;
				}

				label {
					font-size: .5rem;
					font-weight: 800;
					text-transform: uppercase;
					line-height: 11.3px;
					color: #333;
				}

				input {
					padding: .3em 0em;
					border: none;
					outline: none;
					color: inherit;
				}
			}


			&__container-location {
				border-top-right-radius: var(--search-menu--br);
				border-top-left-radius: var(--search-menu--br);
			}

			&__container-guests {
				border-top: none;
				border-bottom-right-radius: var(--search-menu--br);
				border-bottom-left-radius: var(--search-menu--br);
			}
		}

		&__results {
			flex-grow: 1;

		}

		svg {
			width: 24px;
			height: 24px;
			fill: #EB5757E5;
		}
	}
}

.search-menu {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--search-menu--br);
	box-shadow: var(--cc-box-shadow--light);


	input,
	button {
		padding: .7em 1em;
		cursor: pointer;
		font-family: var(--ff-secondary);
		font-weight: 400;
		font-size: .9rem;

		color: #BDBDBD;
		background-color: #fff;
		border: 1px solid #f3f3f3;

		&:hover {
			background-color: #f3f3f3;
		}
	}

	input+input,
	input+button {
		border-left: transparent;
	}

	&__btn-location {
		border-top-left-radius: var(--search-menu--br);
		border-bottom-left-radius: var(--search-menu--br);
	}

	&__btn-search {
		border-top-right-radius: var(--search-menu--br);
		border-bottom-right-radius: var(--search-menu--br);
	}

	svg {
		width: 24px;
		height: 24px;
		fill: #EB5757E5;
	}
}