@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root {
	--ff-primary: 'Poppins', Arial, Helvetica, sans-serif;
	--ff-secondary: 'Mulish', Arial, Helvetica, sans-serif;

	--common-gap: .3em;

	--color--primary: #3f51b5;
	--color--light-primary: rgb(56, 122, 245);
	--btn-color--primary: #3f51b5;
	--btn-bg-color-dark-primary: hsla(231, 48%, 30%, 1);
	--btn-bg-color-light-primary: hsla(208, 98%, 91%, 0.59);

	--btn-color--secondary: hsla(120, 7%, 30%, 1);
	--btn-bg-color-dark-secondary: hsla(120, 7%, 13%, 1);
	--btn-bg-color-light-secondary: hsla(120, 7%, 90%, 1);

	--btn-color--danger: hsla(2, 64%, 58%, 1);
	--btn-bg-color-dark-danger: hsla(2, 64%, 36%, 1);
	--btn-bg-color-light-danger: hsla(2, 64%, 95%, 1);

	--btn-color--white: #fff;
	--btn-color--gray: #aaa;

	--btn-fg-disabled: #aaa;
	--btn-bg-disabled: #e2e2e2;

	--btn-padding-block: .5em;
	--btn-padding-inline: 1.4em;
	--btn-border-radius: 7px;

	--btn-fg-light-color-val: #444;
	--btn-hover-dark-color: var(--btn-color--white);
	--btn-bg-light-color: var(--btn-color--white);

	--btn-hover-light-color: var(--btn-color--gray);


	--button-fg-color: #444;
	--button-bg-color: #ddd;
	--button-border-color: transparent;
	--button-hover-color: var(--btn-color--gray);

	--cc-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	--cc-box-shadow--light: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-primary);
	background-color: #eee;
}

h1,
h2 {
	font-weight: 500;
	font-size: 1.5rem;
	color: #222;
	text-transform: uppercase;
}

h2 {
	font-size: 1.2rem;
	margin-bottom: 1em;
}

h3 {
	font-size: .9rem;
	font-weight: 400;
	font-family: var(--ff-primary);
}

.container {
	min-height: calc(100vh - 1em);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

.container-component {
	font-size: .8rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .3em;
}

@media screen and (min-width: 500px) {
	.container-component {
		font-size: 1rem;
	}
}

.container-box {
	min-width: 200;
	padding: 1em;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--common-gap);
}

.container-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: var(--common-gap);
}

.container-select {
	margin-bottom: 1em;
}

.hidden {
	display: none;
}

@media screen and (min-width: 500px) {
	:root {
		--common-gap: 1em;
	}

	.container {
		padding: var(--common-gap);
	}

	.container-box {
		min-width: 500px;
	}

	.container-buttons {
		align-items: center;
		flex-direction: row;
	}
}


.btn {
	padding: var(--btn-padding-block) var(--btn-padding-inline);
	font-family: var(--ff-primary);
	font-weight: 500;
	font-size: 1rem;
	border: 1px solid var(--button-border-color);
	border-radius: 7px;
	cursor: pointer;

	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

	color: var(--button-fg-color);
	background-color: var(--button-bg-color);

	display: flex;
	align-items: center;
	gap: var(--common-gap);
}



.btn:hover,
.btn:focus {
	background-color: var(--button-hover-color);
}

/* COLOR COLOR--OUTLINE COLOR--TEXT */

.button--default {
	--button-fg-color: #444;
	--button-bg-color: #ddd;
	--button-border-color: transparent;
	--button-hover-color: var(--btn-color--gray);
}

.button--default--outline {
	--button-fg-color: #444;
	--button-bg-color: var(--btn-color--white);
	--button-border-color: var(--button-fg-color);
	--button-hover-color: var(--btn-color--gray);
}

.button--default--text {
	--button-fg-color: #444;
	--button-bg-color: var(--btn-color--white);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-color--gray);
}


.primary {
	--button-fg-color: var(--btn-color--white);
	--button-bg-color: var(--btn-color--primary);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-bg-color-dark-primary);
}

.primary--outline {
	--button-fg-color: var(--btn-color--primary);
	--button-bg-color: var(--btn-color--white);
	--button-border-color: var(--btn-color--primary);
	--button-hover-color: var(--btn-bg-color-light-primary);
}

.primary--text {
	--button-fg-color: var(--btn-color--primary);
	--button-bg-color: var(--btn-color--white);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-bg-color-light-primary);
}

.secondary {
	--button-fg-color: var(--btn-color--white);
	--button-bg-color: var(--btn-color--secondary);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-bg-color-dark-secondary);
}

.secondary--outline {
	--button-fg-color: var(--btn-color--secondary);
	--button-bg-color: var(--btn-color--white);
	--button-border-color: var(--btn-color--secondary);
	--button-hover-color: var(--btn-bg-color-light-secondary);
}

.secondary--text {
	--button-fg-color: var(--btn-color--secondary);
	--button-bg-color: var(--btn-color--white);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-bg-color-light-secondary);
}

.danger {
	--button-fg-color: var(--btn-color--white);
	--button-bg-color: var(--btn-color--danger);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-bg-color-dark-danger);
}

.danger--outline {
	--button-fg-color: var(--btn-color--danger);
	--button-bg-color: var(--btn-color--white);
	--button-border-color: var(--btn-color--danger);
	--button-hover-color: var(--btn-bg-color-light-danger);
}

.danger--text {
	--button-fg-color: var(--btn-color--danger);
	--button-bg-color: var(--btn-color--white);
	--button-border-color: transparent;
	--button-hover-color: var(--btn-bg-color-light-danger);
}


.btn--disableshadow {
	box-shadow: none;
}

.btn--disabled {
	color: var(--btn-fg-disabled);
	background-color: var(--btn-bg-disabled);
	cursor: not-allowed;
}

.btn--disabled:focus,
.btn--disabled:hover {
	background-color: var(--btn-bg-disabled);
}

.btn--text.btn--disabled {
	background-color: var(--btn-color--white);
}

.btn--text.btn--disabled:focus,
.btn--text.btn--disabled:hover {
	background-color: var(--btn-color--white);
}

.btn-size--small {
	--btn-padding-block: .3em;
	--btn-padding-inline: .7em;
}

.btn-size--medium {
	--btn-padding-block: .5em;
	--btn-padding-inline: 1.4em;
}

.btn-size--large {
	--btn-padding-block: .9em;
	--btn-padding-inline: 1.8em;
}

.created-by {
	text-align: center;
	color: rgb(116, 116, 116);
	padding: 1em;
}

p {
	font-weight: 400;
}

span {
	font-weight: 700;
}